# Ignore Airflow logs and database
airflow_project/logs/
airflow_project/pgdata/
airflow_project/airflow.db
airflow_project/airflow-webserver.pid

# Ignore Dagster tmp folders
.tmp_dagster_home_*/

# Python cache files
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/
