# Dagster temp folders
.tmp_dagster_home_*/

# Airflow logs & DB
airflow/logs/
logs/
airflow.db
airflow-webserver.pid

# Python cache
__pycache__/
*.pyc

# System files
desktop.ini
# Ignore Airflow/Dagster/Prefect Logs
**/logs/
**/pgdata/
**/__pycache__/
**/*.pyc

# Ignore Docker volumes
airflow/logs/
airflow/pgdata/
dagster_home/

# Ignore environment folders
venv/
.env/
.venv/

# Ignore OS files
.DS_Store
Thumbs.db
